li {
  list-style: none;
}
a {
  text-decoration: none;
  color: orangered;
}
a:hover {
  color: orange;
}

.post {
  width: 80%;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 10px 0.5px rgb(148, 151, 154);
  border-radius: 8px;
  margin: 20px;
}

.post .top {
  display: grid;
  grid-template-columns: 60px auto;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.post .top .rating {
  padding-left: 0;
}
.post .top .arrow:hover {
  color: dimgray;
}
.post .top .title,
.post .top .main_title {
  margin-right: 20px;
}
.post .top .main_title {
  padding-top: 10px;
}
.post .shrek {
  width: 80%;
}

.post .nonmain_inf {
  width: 90%;
  display: grid;
  margin: auto;
  grid-template-columns: 3fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 10px;
}
.post .nonmain_inf .comments {
  display: flex;
  align-items: center;
}
.post .nonmain_inf .comments p {
  padding-left: 5px;
}
