.App {
  text-align: center;
  font-family: "Verdana";
}

header {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 20%;
}
.by {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 500;
}
