.App {
  text-align: center;
  font-family: "Verdana";
}

header {
  display: inline-flex;
  border: 1px solid black;
  align-items: center;
  width: 100%;
  box-shadow: 1px 1px 6px 1px slategray;
}
.searchbar {
  width: 100%;
  margin-left: auto;
}
.logo {
  width: 20vw;
  margin-left: 20px;
}
