.user {
  margin-top: 20px;
}
.user_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 100px;
}
.name {
  font-weight: 700;
  font-size: 70px;
}
.name,
.time {
  margin: 0;
}
.newline {
  display: block;
  width: 100%;
  height: 0px;
}

.comments {
  margin-top: 100px;
}
